*{

   margin: 0;
   padding: 0;
   box-sizing: border-box;

}
 

html, body{ 
    
    height: 100%;

}

.sidebar{
     
     width: 20%;
     height: 100%;
     position: fixed;
     background-color: rgb(106, 20, 192);
}

.sidebar-pos{
    position: absolute;
}

.img-sidebar img{
       width: 80%;
       border: 4px solid #9050cc;
       border-radius: 50%;
       
}