*{

   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Saira Extra Condensed', sans-serif;

}
 

html, body{ 
    
    height: 100%;

}

.parent{
    display: flex;
}

.content{

    position: absolute;
    left: 20%;
    width: 80%;
    height: 100%;
    overflow-y: auto;
    padding: 0 3%;
}

.sidebar{
     
     width: 20%;
     height: 100%;
     position: fixed;
     background-color: rgb(82, 24, 141);
     top: 50%;
     transform: translateY(-50%);
}

.sidebar-pos{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

}

/* estilo do menu */

.img-sidebar {
    text-align: center;
}

.img-sidebar img{
       width: 60%;
       border: 4px solid rgb(124, 37, 206);
       border-radius: 50%;
       
}

.menu {

    margin:20px 0;
    text-align: center;
}

.menu a{
    color: white;
    opacity: 0.4;
    font-size: 24px;
    display: block;
    margin-bottom: 20px;
    text-decoration: none;

}

.menu a:hover{
    opacity: 1;
 }



/* estilos das seções */

section#sobre{
      position: relative;
      top: 70%;
      transform: translateY(-50%);
}


section#sobre h2{

      color: #343a40;
      font-size: 46px;
}

section#sobre h2 > span{
    color:rgb(82, 24, 141);

}

section#sobre h3{
    margin: 8px 0;
    color: #6c757d;
    font-size: 30px;
}

section#sobre p{
    color: #6c757d;
    font-size: 18px;
    margin-top: 40px;
}


.icons-social {
    margin-top: 20px;
}

.icons-social a{
    text-decoration: none;
    color: white;
    background-color: rgb(82, 76, 76);
    width: 40px;
    height: 40px;
    border-radius: 20px;
    display: inline-block;
    margin: 0 20px;
    text-align: center;
}

.icons-social{
    line-height: 40px;
}

.icons-social a:hover{
    background-color: rgb(82, 24, 141);
}

section#experiencia{
    position: relative;
    top: 55%;
    transform: translateY(-50%);
}

section#experiencia p{
    color: #6c757d;
    font-size: 30px;
    margin-top: 40px;
}

.secao {
    position: relative;
  }

  
  .scroll {
    width: 15px;
    height: 15px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    display: inline-block;
    position: relative;
  }
  .scroll-next {
    transform: rotate(45deg);
    margin: 14px 0 0 16.5px;
  }
  

